<TMPL_INCLUDE header.tmpl>

<h1>Person/UserAccount</h1>
<TMPL_INCLUDE person_card.tmpl>

<TMPL_LOOP sioc:owner_of>
	<h3><a href="<TMPL_VAR url>"><TMPL_VAR sioc:name></a></h3>
</TMPL_LOOP>

<TMPL_INCLUDE footer.tmpl>
