			</div>

			<!-- BEGIN SIDEBAR -->
			<div class="col-lg-3">
			<pre>[% json %]</pre>
			</div>
			<!-- END SIDEBAR -->
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/holder/2.9.0/holder.min.js"></script>
<script src="http://roc:6809/mustache.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.0.11/css/fork-awesome.min.css" integrity="sha256-MGU/JUq/40CFrfxjXb5pZjpoZmxiP2KuICN5ElLFNd8=" crossorigin="anonymous">
<script type="application/ld+json">[% json %]</script>
[% FOREACH rawscript IN script%][% rawscript %]
[% END %]
</body>
</html>
