<!DOCTYPE html>
<html
	prefix="fb: http://www.facebook.com/2008/fbml; og: http://opengraphprotocol.org/schema/ sc: http://schema.org/"
	lang="en">
<head>
<!-- Required meta tags always come first -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="[% description %]" />
<meta name="title"
	content="[% name %]" />
<title>[% name %]</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">

<!-- Open Graph -->
<meta property="og:url;sc:url"
	content="[% url %]" />
<meta property="og:title;sc:name" content="[% name %]" />
<meta property="og:site_name" content="[% sitename %]" />
<meta property="og:image" content="[% image %]" />
<meta property="og:image:width" content="1024" />
<meta property="og:image:height" content="768" />
<meta property="og:type" content="article" />
<meta property="og:description"
	content="[% name %]" />
<link rel="alternate" type="application/ld+json"
	href="[% url %].json" />
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
	<div class="container m-b-3">
		<nav class="navbar navbar-dark bg-success">
			<ul vocab="http://schema.org/" typeof="BreadcrumbList" class="nav navbar-nav">
				[% FOREACH breadcrumb.itemListElement.item %]
				<li property="itemListElement" typeof="ListItem" class="nav-item"><a property="item" typeof="Thing" class="nav-link" href="[% url %]">
				<span property="url">[% name %]</span>
				<meta property="position" content="[% position %]">
				</a></li>
				[% END %]
				[% UNLESS breadcrumb %]<li><a class="navbar-brand" href="/">Home</a></li>[% END %]
			</ul>
			<form class="form-inline pull-xs-right"
				action="https://duckduckgo.com" method="get">
				<input name="sites" value="[% domain %]" type="hidden">
				<input name="q" class="form-control" type="text"
					placeholder="Search">
				<button class="btn btn-success-outline" type="submit">Search</button>
			</form>
		</nav>
	</div>

	<!-- END HEADER -->
	<div class="container m-t-1">
		<div class="row">
			<div class="col-lg-9" id="wirebird">
			<!-- BEGIN CONTENT -->
			[% metacontent %]
			<!-- END CONTENT -->
			</div>

			<!-- BEGIN SIDEBAR -->
			<div class="col-lg-3">
			[% sidebar %]
			</div>
			<!-- END SIDEBAR -->
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/holder/2.9.0/holder.min.js"></script>
<script src="http://roc:6809/mustache.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.0.11/css/fork-awesome.min.css" integrity="sha256-MGU/JUq/40CFrfxjXb5pZjpoZmxiP2KuICN5ElLFNd8=" crossorigin="anonymous">
<script type="application/ld+json">[% json %]</script>
[% FOREACH rawscript IN script%][% rawscript %]
[% END %]
</body>
</html>
